@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
    scroll-behavior: smooth;
}

.bg-primary {
    background-image: url(../img/products/info_bg_tree.jpg);
}

body {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    background-color: bisque;
}

.bg {
    background-image: url(../img/products/header_bg_tree.jpg);
}

#carouselOffers {
    min-height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
    color: grey;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

header {
    box-shadow: 0 5px 10px black;
    margin-bottom: 40px;
}

.fixed-top {
    box-shadow: 0px 5px 10px black;
}

.svg-inline--fa {
    color: bisque;
}

.badge-primary {
    font-size: 15px;
}

.nav-link {
    color: bisque;
    padding-left: 0;
}

.navbar-dark .navbar-brand {
    color: bisque;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: bisque;
}

.nav-link:hover {
    color: bisque;
}

.navbar-dark .navbar-toggler {
    box-shadow: 0px 5px 20px black;
    border: 2px solid bisque;
}

.wrapper {
    min-height: 400px;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    background-image: url(../img/products/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    
}

.title {
    grid-column: 1;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    background-image: url(../img/products/info_bg_tree.jpg);
    color: bisque;
    border-radius: 10px;
    box-shadow: 0px 0px 20px bisque;
}

.title p {
    font-size: 16px;
}

.sub-title {
    font-size: 30px;
    background-image: url(../img/products/info_bg_tree.jpg);
    color: bisque;
    border-radius: 10px;
}

.main {
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 520px;
}

.main img {
    border-radius: 10px;
    min-height: 260px;
}

.countdown {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: bold;
}

.card {
    position: relative;
    height: 100%;
    padding: 0;
    border: 1px solid black;
    box-shadow: 0 5px 5px black;
    transition: 0.3s all;
}

.card:hover {
    height: 100%;
    padding: 0;
    border: 1px solid black;
    box-shadow: 0 5px 20px black;
    bottom: 4px;
    transition: 0.3s all;
}

.mb-3,
.my-3 {
    margin-bottom: 2rem !important;
}

.modal-content {
    background-image: url(../img/products/info_bg_tree.jpg);
    box-shadow: 0px 0px 20px bisque;
}

.form-control .col-8 {
    border-color: bisque;
}

.modal-dialog {
    color: bisque;
}

.plus {
    color: bisque;
    border: 2px solid bisque;
}

.minus {
    color: bisque;
    border: 2px solid bisque;
}

.form-contacts .row {
    margin: 10px;
}

.card-body {
    color: bisque;
    background-image: url(../img/products/info_bg_tree.jpg);
}

.card-img-top {
    z-index: 10;
    box-shadow: 0 5px 10px black;
    height: 170px;
}

.card-body a {
    color: bisque;
    box-shadow: 0 5px 10px black;
}

.row {
    margin: 0;
}

.menu {
    text-align: center;
    color: bisque;
    background-image: url(../img/products/info_bg_tree.jpg);
    box-shadow: 0 5px 10px black;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 45px;
}

#menu {
    height: 50px;
    margin-top: -55px;
}

.timer {
    background-color: bisque;
    margin-bottom: 120px;
}

footer {
    background-image: url(../img/products/info_bg_tree.jpg);
    color: bisque;
    width: 100%;
    box-shadow: 0 -5px 10px black;
    margin-top: 5px;
    text-align: center;
    padding-top: 7px;
    max-height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;

}

footer address {
    margin-bottom: 0rem;
}

@media (max-width: 359px) {
    footer {
        position: relative;
        max-height: 600px;
    }
}